<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coin Chart: <%= symbol %></title>
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #121212; 
    }
    h1 {
      font-family: 'Poppins', sans-serif; 
      font-weight: bold; 
      color: white; 
      text-align: center; 
    }
    .tradingview-widget-container {
      width: 100%; 
    }
  </style>
</head>
<body>
  <h1>Coin Chart: <%= symbol %></h1> 
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget" style="height: calc(100vh - 72px);"></div>
    <div class="tradingview-widget-copyright">
      <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
        <span class="blue-text"></span>
      </a>
    </div>
  </div>
  <script type="text/javascript">
    var symbol = "<%= symbol %>"; 
    var script = document.createElement("script"); 
    script.type = "text/javascript"; 
    script.src = "https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js"; 
    script.async = true; 
    script.innerHTML = JSON.stringify({
      "autosize": true, 
      "symbol": symbol, 
      "interval": "D", 
      "timezone": "Etc/UTC", 
      "theme": "dark", 
      "style": "1", 
      "locale": "en", 
      "allow_symbol_change": true, 
      "details": true, 
      "calendar": false, 
      "support_host": "https://www.tradingview.com" 
    });
    document.querySelector('.tradingview-widget-container__widget').appendChild(script); 
  </script>
</body>
</html>